<!DOCTYPE html>
<html lang=pt-br>
<head>
<title>Requisição de Material</title>
<meta charset=UTF-8>

<meta name=description content="">
<meta name=keywords content="">
<meta name=author content='Luis'>



<link th:href="@{/css/requisitanteRequisicaoPedidos.css}"
	rel="stylesheet" />
<link th:href="@{/css/menu.css}" rel="stylesheet" />
<link th:href="@{/cssExternos/w3/w3.css}" rel="stylesheet" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">




</head>
<body onload="onLoad()" class="w3-content " style="max-width:1920px" >

<nav class="  w3-collapse w3-top w3-red w3-border" style="z-index:3;width:350px;display:none;"  id="mySidebar">
  <div class="w3-container w3-card  w3-display-container w3-padding-16 ">
  
    <i onclick="w3_close()" class=" fa fa-remove w3-hide-xxlarge w3-button w3-display-topright"></i>
    <h3 class="w3-wide "><b>ARTESANART</b></h3>
  </div>
  <div class="w3-padding-64 w3-large w3-text-white " style="font-weight:bold">
    <a href="http://localhost:8080/usuario/requisitarPedido/formulario" class="w3-bar-item w3-button">Requisição de Materiais</a>
    <a href="http://localhost:8080/usuario/pedidosPendentes" class="w3-bar-item w3-button">Pedidos Pendentes</a>
    <a href="http://localhost:8080/usuario/pedidosFinalizados" class="w3-bar-item w3-button">Pedidos Finalizado</a>
     
     <br><br>
      <a href="/entrar" class="w3-bar-item w3-button" >Voltar</a>
     <br>
   <a href="/sair" class="w3-bar-item w3-button" >Sair</a>
 

  </div>

</nav>

<header class="w3-bar w3-top  w3-red w3-xlarge" style="border:3px solid #cc0000;">
  <div class="w3-bar-item w3-padding-24 w3-wide w3-margin-right">ARTESANART</div>
<div class="w3-bar-item w3-padding-24  w3-margin-right">Requição de Materiais</div>
 
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<div class="w3-overlay w3-hide" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

 


	<article class="w3-main w3-animate-zoom"  id="verr" style="margin-top:100px">
	  





		
		<form th:object="${requisicaoNovoPedido}"
			class="w3-container w3-card-4 " action="cadastro" method="POST">

			<p class="w3-center">Favor selecionar duas vezes os produtos e produtos diferentes</p>
		

			<div>
				<p>
					<label class="w3-text-blue"><b>Código:</b></label><h2 v-if="selected2"> {{selected2}}</h2>
				</p>
				<p>
<input  class="w3-hide"  type="text" id="text"  name="codigoProduto" >
					<select v-model="selected" class="w3-select w3-text-black"  id="language" onChange="update()" 	>

						<option v-if="selected2" disabled>Recarregar a Página para pode selecionar por essa opção </option>
						
						<option v-else v-for="produtos in produtos"	v-bind:value="produtos.descricao">{{produtos.codigo}} </option>
						
										<input v-if="selected"  type="text" id="value" name="descricao"  class="w3-hide" >
										<input  v-if="selected"  type="text" id="text"  name="codigoProduto"  class="w3-hide">
						
						
					</select>
		
				</p>
					
				<p>
					<label class="w3-text-blue"><b>Descrição:</b> </label>	<h2 v-if="selected"> Descrição: {{selected}}</h2>
				</p>
				
				
					
					
					<select v-model="selected2" class="w3-select w3-text-black "	 id="language2" onChange="update2()">



						<option v-if="selected" disabled >Recarregar a Página para pode selecionar por essa opção</option>
						
						<option v-else v-for="produtos in produtos"	 v-bind:value="produtos.codigo"> {{produtos.descricao}} </option>
						
					
					
			<input  v-if="selected2" type="text" id="value1" name="codigoProduto"  class="w3-hide" >
		    <input  v-if="selected2"  type="text" id="text1"  name="descricao"   class="w3-hide" >
					</select>
				
			</div>
			
			
	
			
		
			
			
				
			
		




			<div class="w3-panel w3-yellow w3-text-red" th:errors="*{descricao}">
				Erros do nome do produto</div>
			<p>
				<label for="quantidade" class="w3-text-blue"><b>Quantidade</b></label>
				<input th:field="*{quantidade}" class="w3-input w3-border"
					type="text">
			</p>
			<div class="w3-panel w3-yellow w3-text-red" th:errors="*{quantidade}">
				Erros do nome do produto</div>

			<p>
				<label for="medida" class="w3-text-blue"><b>Unidade de
						Medida</b></label> 
			</p>
						  <p>
  <select class="w3-select" name="medida">
  <option value="" disabled selected>Escolha a unidade de medida</option>
  <option value="Unidade">Unidade</option>
  <option value="Metros">Metros</option>
  <option value="Pacote">Pacote</option>
  <option value="Rolo">Rolo</option>
</select>   
</p>

			<div class="w3-panel w3-yellow w3-text-red" th:errors="*{medida}">
				Erros do nome do produto</div>
			<p>


 

			<p>
				<button type="submit" class="w3-btn w3-blue">Confirmar</button>
			</p>
		</form>




		<form class="w3-hide" action="http://localhost:8080/usuario/requisitarPedido/compras" method="POST" >
		
		
		<input   type="text"  name="codigoProduto"  >
		<input   type="text"  name="descricao"  >
		<input   type="text"  name="quantidadeSolicitada">
		
		
		
		<p>
				<button type="submit" class="w3-btn w3-blue">Confirmar</button>
	  </p>
		
		
		</form>
		

	
		






		

	</article>

	<script>
	 function onLoad(){
		 
		 var app = new Vue({
			  el: '#verr',
			  data: {
				  selected: false,
				  selected2: false,
			    produtos: []
			  },
			  
			  mounted () {
			    axios
			      .get('http://localhost:8080/usuario/requisitarPedido/formulario/listar')
			      .then(response => (this.produtos = response.data))
			  }
			});
	 }
	 
	 
	 
	 
	 
	</script>
	
		<script type="text/javascript">
			function update() {
				var select = document.getElementById('language');
				var option = select.options[select.selectedIndex];

				document.getElementById('value').value = option.value;
				document.getElementById('text').value = option.text;
			}

			update();
			
			
		</script>
		
		
				<script type="text/javascript">
			function update2() {
				var select = document.getElementById('language2');
				var option = select.options[select.selectedIndex];

				document.getElementById('value1').value = option.value;
				document.getElementById('text1').value = option.text;
			}

			update2();
		</script>
		

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	
	<script>
// Accordion 




function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
 
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";

}
</script>
	
	
</body>
</html>


